main{
    height:4000px;
    font-family: helvetica;
    position:relative;
        margin:0 !important;
    padding:0 !important;
    width:100%;
}
body{
    margin:0 !important;
    padding:0 !important;
    width:100%;
}

/* classes */

#education{
    color:white;
    background: #151510;
}
.hearticons{
    color:red;
    font-size:30px;
    float: right;
    width:18%;

}
.left{
    float: left;
    width:75%;
    border: 2px solid #202020;
    text-align: left;
    background:#002000;
}
.reveal{
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;

}
.left:hover > .hidden {

    height:100px;
}
.left:hover + .hidden {
    height:auto;
}

.hidden{
    margin:0px;
    height:0px;

    overflow: hidden;

    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.info{
    width:50%;
    float: right;
    margin:20px;
    margin-bottom:20px;

}

.info ul{
    list-style: none;
}

/* Hex Menu*/
#hexMenu{
    display:none;
    width:310px;
    position:fixed;
    top:30px;
    right:30px;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    transform-origin:50% 50%;
}

#hexMenu{
    z-index: 15;
}

.hexagon svg{
    position:relative;
    width:80%;
    top:-30px;
    left:10%;
}
#purpose svg{
    width:10%;
    position:relative;
    top:365px;
    left:50px;

}
.hexagon a{
    color:black;
    text-decoration: none;
}
.hexagon:nth-child(4n+1){
    margin-left: 50px;
}
.hexagon:nth-child(4){
    left:100px;
}

/*CREATED USING CSS HEXAGON GENERATOR @ http://csshexagon.com/ */


.hexagon {
    position: relative;
    width: 100px; 
    height: 57.74px;
    background-color: #ffffff;
    margin: 15px 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-transition: 500msms;
    -o-transition: 500msms;
    transition: 500msms;
    display:inline-block;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 70.71px;
  height: 70.71px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 14.6447px;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.hexagon:before {
  top: -35.3553px;
}

.hexagon:after {
  bottom: -35.3553px;
}

/*cover up extra shadows*/
.hexagon span {
  display: block;
  position: absolute;
  top:0px;
  left: 0;
  width:100px;
  height:57.7350px;
  z-index: 2;
  background: inherit;
}

.hexagon .topics {
    display: block;
    position: absolute;
    top:0;
    left:0;
    width:100px;
    height:57.7350px;
    z-index: 2;
    background: inherit;
}

.hexagon:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    z-index:1000;
}

/*skills*/

#skills img{
    width:180px;
    border-radius: 100px;
    border:1px solid black;
    -webkit-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}

#skills{
    text-align: center;
}

.sideinfo{
    position:absolute;
    top:-100px;
    left:10%;
    background: rgba(250,250,250,0.8);
    border:1px solid black;
    width:250px;
    border-radius: 5px;
    padding:10px;
    -webkit-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
   /*display:none;*/

}
.sideinfoR{
    /*left:-190%;*/
}
.skill{
    position:relative;

    margin-left:50px;
    margin-top:50px;
    display:inline-block;
    z-index:1;
}

.skill img:hover, .skill img:hover + *{
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    opacity:1;
}


/*Languages*/

.langList li{
    list-style-type: none;

}
.langLvl{
    color:gold;
}

table{
    border-collapse: collapse;
    margin:40px;
    text-align: center;
    font-size:30px;
}
td{
    border:solid 2px black;
    padding:4px;
}
.scrollfade{
    -webkit-transition: 500ms;
        -o-transition: 500ms;
        transition: 500ms;    
}

.pictures, .overlay, .overlayR{

    width:100%;
    /*min-width: 1100px;*/
    height:40vw;
    min-height: 450px;
    background-repeat: no-repeat ;
}

/*Projects*/

/* Move picture left and up shrink, add info below*/


#projects{
    text-align: center;
}
#projects ul{
    text-align: right;
    list-style: none;
}
#projects a{
    text-decoration:none;
    font-weight: bold;
    font-size: 50px;
    color:#202020;

}
li{    
    -webkit-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}

#projects li:hover{
    transform:scale(1.4);
}
.projects{
    width:40%;
    margin:20px;
    float:left;
}
.viewer{
    width:50%;
    height:40%;
    float: right;
    position:relative;
        /*border-radius: 400px;*/
    /*border:2px solid #202020;*/

}
.img-over{

    width:360px;
    height:360px;
    border-radius: 200px;
    border:2px solid #202020;
    margin-top:55px;
    position:absolute;
    right:0px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.transparent{
    opacity:0;

}

/*text formatting*/

h1 {

    font-size: 14vh !important;
    color:white;
    width:150px;
    text-align: left;
    /*z-index:-1;*/
    -webkit-text-stroke:2px grey;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-text-stroke:2px black;
    margin:5px;
    margin-top: 0px !important;
}

h1:hover{
    color:black;
    -webkit-text-stroke:2px white;

}

h2{
    margin:10px;
    font-size: 90px;
    color:white;
    -webkit-text-stroke:1px #909090;
    text-align: center;
    margin-top:15%;
    z-index:-5;

}


#divider1{
/* City Skyline Color*/
    background-image: url("../imgs/cityb-wlow.jpg");
    text-align: center;
    position:relative;
    height:100vh;
    min-height: 450px;
    background-repeat: no-repeat ;
}


#divider2{
/*Mountain*/
    background-image: url("../imgs/mountainsbg.jpg");

}
#divider2overlay{
    background-image: url("../imgs/mountainsoverlay.png");
    position:absolute;


}
#divider2overlay2{
    background-image: url("../imgs/mountainsoverlay2.png");
    position:absolute;

}


#divider3{
/*Wave*/
        background-image: url("../imgs/stripesblack.png");
        background-repeat: repeat;

}
#divider3overlay{
    background-image: url("../imgs/waveoverlayflip.png");
    position:absolute;

}
#divider4{
    /*birds*/
    background-image: url("../imgs/countryroadopt.jpg");
}
#divider4overlay{
    background-image: url("../imgs/birdsonwire.png");
    position:absolute;
}
#divider5{
/*blossoms*/
    background-image: url("../imgs/stripesblack.png");
    background-repeat: repeat;

}
#divider5overlay{
    background-image: url("../imgs/blossomoverlay.png");
    position:absolute; 
}

#divider6{
/*blossoms*/
    background-image: url("../imgs/boozebg.png");
    background-repeat: repeat;
}
#divider6overlay{
    background-image: url("../imgs/boozeoverlay.png");
    position:absolute; 
}
#divider6overlay2{
    background-image: url("../imgs/booze2000.png");
    position:absolute; 
}

.content{
    height:500px;
    width:100%;
    margin:0;
    position:relative;
    background-color: #fff;
}

#education{
}
#skills{
}
#language{
}
#projects{
}
#about{
}


@media(max-width: 900px) and (min-width: 500px){

    h1 {

    font-size: 12vh !important;
}



    #divider1{
/* City Skyline Color*/
    background-image: url("../imgs/cityb-wlow1000.jpg");
    text-align: center;
    position:relative;
    height:500px;
    background-repeat: no-repeat ;
    
}
.content{
    height:500px;
}

#divider2{
/*Mountain*/
    background-image: url("../imgs/mountainsbg1000.jpg");

}
#divider2overlay{
    background-image: url("../imgs/mountainsoverlay1000.png");
    background-position: 0 200px;

}
#divider2overlay2{
    background-image: url("../imgs/mountainsoverlay21000.png");

}


#divider3{
/*Wave*/
        background-image: url("../imgs/stripesblack.png");
        background-repeat: repeat;

}
#divider3overlay{
        background-image: url("../imgs/waveoverlayflip1000.png");

}
#divider4{
    /*birds*/
    background-image: url("../imgs/countryroadopt1000.jpg");
}
#divider4overlay{
    background-image: url("../imgs/birdsonwire1000.png");
    position:absolute;
}
#divider5{
/*blossoms*/
    background-image: url("../imgs/stripesblack.png");
    background-repeat: repeat;
    /*background-size: 40% 40% ;*/
}
#divider5overlay{
    background-image: url("../imgs/blossomoverlay1000.png");
    position:absolute; 
}
}


@media(max-width: 500px){

h1 {

    font-size: 7vh !important;
}

.content{
    height:500px;
}

.pictures{
    height:300px;
    width:100%;
    overflow: hidden;

}






#divider1{
/* City Skyline Color*/
    background-image: url("../imgs/cityb-wlow500.jpg");
    text-align: center;
    position:relative;
    height:500px;
    background-repeat: no-repeat ;
    background-position: 0px 100px;
}
#divider2{
/*Mountain*/
    background-image: url("../imgs/mountainsbg500.jpg");
}
#divider2overlay{
    background-image: url("../imgs/mountainsoverlay500.png");


}
#divider2overlay2{
    background-image: url("../imgs/mountainsoverlay2500.png");
}

#divider3{
/*Wave*/
    background-image: url("../imgs/stripesblack.png");
    background-repeat: repeat;

}
#divider3overlay{
        background-image: url("../imgs/waveoverlayflip500.png");
}
#divider4{
    /*birds*/
    background-image: url("../imgs/countryroadopt500.jpg");
}
#divider4overlay{
    background-image: url("../imgs/birdsonwire500.png");
    position:absolute;
}
#divider5{
/*blossoms*/
    background-image: url("../imgs/stripesblack.png");
    background-repeat: repeat;
}
#divider5overlay{
    background-image: url("../imgs/blossomoverlay500.png");
    position:absolute; 
}

#hexMenu{
    width:310px;
    position:absolute;
    top:300px;
    right:10%;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    transform-origin:50% 50%;
}

#hexMenu{

    z-index: 15;
}
#purpose svg{
    top:300px;
    left:3%;
}

#purpose{
    background: black;
    /*width:2500px;*/
    height:530px;
    position:absolute;
    top:-10px;
    left:-5px;
    overflow: hidden;
}
#purposeBg{
   /*width:2500px;*/
    height:600px;

    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);

    transform-origin: 0% 100%;

    background: rgba(0,0,0,.6);

    position:absolute;
    top:-270px;
    left:0px;
    z-index:10;

    overflow: hidden;
}
#education{

margin-top: 150px
}

table{

    font-size:18px;
}

}